/out/
/frames
.settings/
.project
.cproject
.oppbuildspec
.qtenvrc

*.suo
*.user
*.userosscache
*.sln.docstates

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.opendb

[Dd]ebug/
[Rr]elease/
x64/
x86/
.vs/

*.exe
